<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-end pt-5 pb-4 bg-light">2023 | Copyright from nguyenhuy158</p>
        </div>
    </div>
</div>
