<!-- Modal -->
<div
    class="modal fade"
    id="cap-nhat-tai-khoang-internship-modal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cập nhật thông tin</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="cap-nhat-tai-khoang-internship-form" method="post">
                    <input
                        type="hidden"
                        class="form-control"
                        id="cap-nhat-tai-khoang-internship-form-user-id"
                        required
                    />
                    <div class="form-group mb-3">
                        <label for="password">Tên:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="cap-nhat-tai-khoang-internship-form-user-name"
                            name="fullName"
                            required
                        />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-outline-primary submit-cap-nhat-tai-khoang-internship-form-btn">
                    Cập nhật
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(() => {
        $(document).on('click', '.cap-nhat-tai-khoang-btn', function () {
            const userId = $(this).data('user-id')

            $('#cap-nhat-tai-khoang-internship-form-user-id').val(userId)
        })
        $('.submit-cap-nhat-tai-khoang-internship-form-btn').on('click', () => {
            $('#cap-nhat-tai-khoang-internship-form').trigger('submit')
        })
        $('#cap-nhat-tai-khoang-internship-form').on('submit', (e) => {
            e.preventDefault()

            const fullName = $('#cap-nhat-tai-khoang-internship-form-user-name').val()

            if (!fullName || !fullName.trim()) {
                Swal.fire('Vui lòng nhập đầy đủ thông tin.')
                return
            }

            $.ajax({
                url: '/cap-nhat-thong-tin',
                type: 'POST',
                data: {
                    userId: $('#cap-nhat-tai-khoang-internship-form-user-id').val(),
                    fullName,
                },
                success: (response) => {
                    Swal.fire(response.message)
                    $('#cap-nhat-tai-khoang-internship-modal').modal('hide')
                    $('#cap-nhat-tai-khoang-internship-form').trigger('reset')
                    internshipTable.ajax.reload()
                },
                error: (response) => {
                    Swal.fire(response.responseJSON?.message)
                },
            })
        })
    })
</script>
