<!-- views/index.ejs -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tạo danh sách đơn</title>

        <%- include('./partials/head'); -%>

        <style>
            .x-spreadsheet-sheet,
            .x-spreadsheet-toolbar {
                width: 100% !important;
            }
        </style>

        <style>
            .monthselect,
            .yearselect {
                border-radius: 10px;
            }
        </style>
    </head>

    <body>
        <!-- nav -->
        <%- include('./partials/nav'); -%>
        <!-- Bootstrap Spinner -->
        <div class="box-spinner">
            <div id="spinner" class="spinner-border text-primary mt-3" role="status" style="display: none"></div>
        </div>

        <div class="container mb-3 mt-3">
            <div class="row">
                <h2 class="text-center">Bảng chấm công</h2>
            </div>

            <!-- chọn tháng cần chấm công -->
            <div class="container">
                <div class="row">
                    <!-- ô để chọn tháng -->
                    <div class="col-3">
                        <input
                            data-bs-toggle="tooltip"
                            data-bs-title="Chọn tháng để lấy danh sách"
                            type="text"
                            class="form-control month"
                            type="text"
                            name="month"
                        />
                    </div>

                    <!-- các nút hành động -->
                    <div class="col">
                        <button
                            id="tai-du-lieu-btn"
                            data-bs-toggle="tooltip"
                            data-bs-title="Tải dữ liệu từ server về"
                            class="btn btn-outline-secondary btn-sm"
                        >
                            Tải dữ liệu
                        </button>
                        <button
                            id="luu-bang-cham-cong-btn"
                            data-bs-toggle="tooltip"
                            data-bs-title="Tải file excel về máy"
                            class="btn btn-outline-primary btn-sm"
                        >
                            Lưu file excel
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-3"></div>

            <div class="row">
                <div class="col">
                    <div id="gridctr"></div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <%- include('./partials/footer'); -%>

        <script defer src="/js/bang-cham-cong.js"></script>
        <script>
            $(function () {
                $('input[name="month"]').daterangepicker(
                    {
                        singleDatePicker: true,
                        showDropdowns: true,
                        locale: {
                            format: 'DD/MM/YYYY',
                            separator: ' - ',
                            applyLabel: 'Chọn',
                            cancelLabel: 'Hủy',
                            fromLabel: 'Từ',
                            toLabel: 'đến',
                            customRangeLabel: 'Tùy chỉnh',
                            weekLabel: 'W',
                            daysOfWeek: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                            monthNames: [
                                'Tháng 1',
                                'Tháng 2',
                                'Tháng 3',
                                'Tháng 4',
                                'Tháng 5',
                                'Tháng 6',
                                'Tháng 7',
                                'Tháng 8',
                                'Tháng 9',
                                'Tháng 10',
                                'Tháng 11',
                                'Tháng 12',
                            ],
                            firstDay: 1,
                        },
                    },
                    async function (start, end, label) {
                        // console.log(start.format('DD/MM/YYYY'))
                        await taiBangChamCongToGrid(start.format('DD/MM/YYYY'))
                    },
                )
            })
        </script>
    </body>
</html>
