<!-- views/gioi-thieu.ejs -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Giới thiệu - Tạo danh sách đơn</title>

        <%- include('./partials/head'); -%>
    </head>

    <body>
        <!-- nav -->
        <%- include('./partials/nav'); -%>

        <!-- Giới thiệu -->
        <div class="container my-5">
            <div class="row">
                <div class="col"></div>
                <div class="col-md-3">
                    <div class="card">
                        <img
                            height="250"
                            src="/images/avatar.png"
                            class="object-fit-contain card-img-top rounded"
                            alt="Your Name"
                        />
                        <div class="card-body">
                            <h5 class="card-title">Huy nè</h5>
                            <p class="card-text">Hì hổng có gì để ghi hết trơn.</p>
                            <a
                                href="https://github.com/nguyenhuy158"
                                target="_blank"
                                class="btn btn-sm btn-outline-primary"
                            >
                                <span class="d-flex align-items-center">
                                    <box-icon class="me-1" name="github" type="logo"></box-icon>
                                    GitHub
                                </span>
                            </a>

                            <a
                                href="https://linkedin.com/in/nguyenhuy158"
                                target="_blank"
                                class="btn btn-sm btn-outline-primary"
                            >
                                <span class="d-flex align-items-center">
                                    <box-icon class="me-1" name="linkedin-square" type="logo"></box-icon>
                                    LinkedIn
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

        <!-- footer -->
        <%- include('./partials/footer'); -%>

        <script src="/js/table.js"></script>
    </body>
</html>
