<!-- views/index.ejs -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tạo danh sách đơn</title>

        <%- include('./partials/head'); -%>

        <link rel="stylesheet" href="/css/table.css" />
    </head>

    <body>
        <!-- nav -->
        <%- include('./partials/nav'); -%>
        <!-- Bootstrap Spinner -->
        <div class="box-spinner">
            <div id="spinner" class="spinner-border text-primary mt-3" role="status" style="display: none"></div>
        </div>

        <div class="container">

          <!-- Tiêu đề -->
            <div class="row mt-3">
                <h1 class="text-center">Tạo danh sách đơn noà</h1>
            </div>

          <!-- Form upload file excel -->
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data" class="mb-3" >
              <!-- Input tải file excel -->
                <div class="mb-3 custom-file-button" data-bs-toggle="tooltip" data-bs-title="Chỉ chọn được file excel thôiii">
                    <label for="file" class="form-label">Bấm vào ô phía dưới để upload file noà!!</label>
                    <input type="file" class="form-control" id="file" name="file" />
                </div>

              <!-- Button submit file excel -->
                <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="Tải file excel lên">
                  <i class='bx bx-upload' ></i>
                  Tải file lên
                </button>
            </form>

            <form id="createDS" action="/" method="post" enctype="multipart/form-data" class="mb-3">
                <div class="mb-3">
                    <label for="filename" class="form-label">Nhập file name vô ô ở dưới nhoa</label>
                    <input type="text" class="form-control" id="filename" name="filename" />
                </div>
                <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="Tạo danh sách đơn">
                  <i class='bx bx-rocket'></i>
                  Tạo DS
                </button>
                <!-- tai ds co nguoi nhap don -->
                <button id="taoDSCoNguoiNhapDon" type="button" class="btn btn-info text-white" data-bs-toggle="tooltip" data-bs-title="Tạo danh sách đơn có thông tin người nhập đơn">
                  <i class='bx bx-rocket'></i>
                  Tạo DS (v2)
                </button>
                <!-- tai file excel v2--> 
                <button id="downloadExcelV2" type="button" class="btn btn-outline-success" disabled data-bs-toggle="tooltip" data-bs-title="Tải file Excel (.xlxs)">
                  <i class='bx bxs-download'></i>
                  (.xlxs)
                </button>
                <!-- tai file excel -->
                <button id="downloadExcel" type="button" class="btn btn-outline-success" disabled data-bs-toggle="tooltip" data-bs-title="Tải file Excel (.xls)">
                  <i class='bx bxs-download'></i>
                  (.xls)
                </button>
            </form>
        </div>
        <div id="DS" class="container">
            <!-- table -->
        </div>

        <!-- footer -->
        <%- include('./partials/footer'); -%>

        <script defer src="/js/table-warning.js"></script>
        <script src="/js/table.js"></script>
    </body>
</html>
