<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tạo danh sách đơn</title>

        <%- include('./partials/head'); -%>

        <link rel="stylesheet" href="/css/table.css" />
    </head>

    <body>
        <!-- nav -->
        <%- include('./partials/nav'); -%>

        <div class="container">
            <div class="row">
                <h1 class="text-center">Tạo nhanh danh sách đơn noà</h1>
            </div>

            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data" class="mb-3">
                <div class="mb-3 custom-file-button">
                    <label for="file" class="form-label">Bấm vào ô phía dưới để upload file noà!!</label>
                    <input type="file" class="form-control" id="file" name="file" />
                </div>
                <button type="submit" class="btn btn-primary">Tải file lên nè</button>
            </form>

            <form id="createDS" action="/" method="post" enctype="multipart/form-data" class="mb-3">
                <div class="mb-3">
                    <label for="filename" class="form-label">Nhập file name vô ô ở dưới nhoa</label>
                    <input type="text" class="form-control" id="filename" name="filename" />
                </div>
                <button type="submit" class="btn btn-primary">Tạo danh sách noà</button>
            </form>
        </div>
        <div id="DS" class="container">
            <!-- table -->
        </div>

        <!-- footer -->
        <%- include('./partials/footer'); -%>

        <script defer src="/js/table-warning.js"></script>
        <script src="/js/table.js"></script>
    </body>
</html>
