<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>500 - Tạo danh sách đơn</title>

        <%- include('./partials/head'); -%>

        <link rel="stylesheet" href="/css/500.css" />
    </head>

    <body>
        <!-- nav -->
        <%- include('./partials/nav'); -%>

        <section class="page_404">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="col col-sm-offset-1 text-center">
                            <div class="four_zero_four_bg">
                                <h1 class="text-center">500</h1>
                            </div>

                            <div class="contant_box_404">
                                <h3 class="h2">Lỗi mất tiêu rồi 😭😭</h3>

                                <p>Mọi người báo huy để huy fix lại với nha</p>

                                <a href="/" class="link_404 text-decoration-none">
                                    Tạm thời mọi người bấm vào đây để sài đỡ nha
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer -->
        <%- include('./partials/footer'); -%>

        <script src="/js/table.js"></script>
    </body>
</html>
